.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5vh;
    background:rgb(255, 255, 255);
    padding-bottom: 10px;
    width: 430px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 15px;
}

.headerText{
    color: #75d3ff;
    font-size: 5vh;
    font-weight:500;
}

.userInputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 50px;
    background-color: #a8e3ff;
    border-radius: 5px;
}

.input img{
    margin: 0px 30px;
}

.input input{
     height: 100%;
     width: 60%;
     background:transparent;
     border: none;
     outline:none;
     font-size: 15px;
} 

.actionButtons{
    display: flex;
    margin: 30px auto;
    gap: 50px;
    padding-right: 5px; /*so they look like they are more centered since one is longer*/
}

.submitt{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#0099ff;
    color: rgb(255, 255, 255);
    width: 100px;
    height: 40px;
    border-radius: 80px;
    font-weight: 700;
    cursor: pointer;
}

.grayOut{
    background:#bfbfbf;
}